<?xml version="1.0" encoding="UTF-8" ?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- I've used annotations here as it's newer - this is the equiv in web.xml. -->
    <!--<servlet>-->
        <!--<servlet-name>Simple</servlet-name>-->
        <!--<servlet-class>com.pluralsight.SimpleServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>Simple</servlet-name>-->
        <!--<url-pattern>*.do</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>
